@charset "utf-8";

*{ margin: 0; padding: 0; list-style: none; border: 0;}

#interface{
    background-color: lightgreen;
    width: 80%;
    margin: 0 auto;
}

#pagina{
    width: 70%;
    background-color: green;
    margin: 0 auto;
    text-align: center;
    color: white;
}

img{
    padding-top: 100px;
}

.btn{
    padding: 10px;
    color: white;
    background-color: black;
}